@import "./../../../../../../style/colors";

.header {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30em;
  background-color: $secondary-dark;
}

h1 {
  padding: 0;
  font-size: 4em;
  color: $secondary-light;
  text-align: center;
}

h3 {
  padding: 2em;
  color: $primary-light;
}

.searchBar {
  display: flex;
  align-items: center;
  color: $secondary-dark;
  background-color: $secondary-light;
  border-radius: 2em;
  .searchInput {
    padding: 1em 2em;
    width: 24em;
    font-size: 1em;
    background-color: transparent;
  }
  .searchIcon {
    padding: 1em 2em;
    background-color: $primary-light;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 8px;
  }
}
