.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #4c7766;
}

.logo {
  margin: 0 16px;
}

.menuSelection {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  color: #fafafa;
  font-weight: bold;
  border: 2px solid #d7dfa3;
  border-radius: 32px;
}

.arrow {
  margin: 0 0 0 4px;
}

.menu {
  display: none;
  align-items: center;
  list-style: none;
  font-weight: bold;
  border: 2px solid #fafafa;
  border-radius: 32px;
}
.menu .menuItems {
  padding: 12px 24px;
  color: #fafafa;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.menu .menuItems.selected {
  color: #333333;
  background-color: #d7dfa3;
  border-radius: 32px;
}

.visible {
  display: flex;
}

.searchBar {
  display: flex;
  align-items: center;
  color: #333333;
  background-color: #fafafa;
  border-radius: 32px;
}
.searchBar .searchInput {
  padding: 12px 0 12px 20px;
  font-size: 16px;
  background-color: transparent;
}
.searchBar .searchIcon {
  padding: 12px 20px 12px 12px;
}

.searchList {
  display: none;
}

.user {
  padding: 12px;
  margin: 0 16px;
  background-color: #d7dfa3;
  border-radius: 32px;
}

.userOption {
  background-color: #fafafa;
  position: absolute;
  padding: 8px;
  background-color: #fafafa;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.userOption div {
  width: 100%;
  padding: 12px 24px;
  color: #333333;
  font-weight: bold;
}

@media (max-width: 480px) {
  /* Styles for mobile devices */
}
@media (max-width: 768px) {
  .navigationBar {
    justify-content: space-around;
    padding: 8px;
  }
  .logo {
    margin: 0 8px;
  }
  .searchBar .searchInput {
    display: none;
  }
  .searchBar .searchIcon {
    padding: 12px;
  }
  .user {
    padding: 12px;
    margin: 0 8px;
    background-color: #d7dfa3;
    border-radius: 32px;
  }
}
@media (max-width: 1024px) {
  .menuSelection {
    display: flex;
  }
  .menu {
    flex-direction: column;
    position: absolute;
    padding: 8px;
    background-color: #fafafa;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .menu .menuItems {
    width: 100%;
    color: #333333;
  }
  .menu .menuItems.selected {
    border-radius: 8px;
  }
}
@media (min-width: 1024px) {
  .menu {
    display: flex;
  }
}