.navigationBar {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #222831;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin: 0 0.5em 0 1em;
}
.logo h1 {
  color: #76abae;
  font-size: 1.5em;
}

.menuSelection {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1.5em;
  color: #eeeeee;
  font-weight: bold;
  border: 2px solid #76abae;
  border-radius: 2em;
}

.arrow {
  margin: 0 0 0 0.25em;
}

.menu {
  display: none;
  align-items: center;
  list-style: none;
  font-weight: bold;
  border: 2px solid #76abae;
  border-radius: 2em;
}
.menu .menuItems {
  padding: 0.75em 1.5em;
  color: #eeeeee;
  font-size: 1em;
  transition: 0.3s;
  cursor: pointer;
}
.menu .menuItems.selected {
  color: #31363f;
  background-color: #76abae;
  border-radius: 2em;
}

.visible {
  display: flex;
}

.searchBar {
  display: flex;
  align-items: center;
  color: #31363f;
  background-color: #eeeeee;
  border-radius: 2em;
}
.searchBar .searchInput {
  padding: 0.75em 0 0.75em 1.25em;
  font-size: 1em;
  background-color: transparent;
}
.searchBar .searchIcon {
  padding: 0.75em 1.25em 0.75em 0.75em;
}

.searchList {
  display: none;
}

.user {
  padding: 0.75em;
  margin: 0 1em;
  background-color: #76abae;
  border-radius: 2em;
}

.userOption {
  position: absolute;
  padding: 0.5em;
  background-color: #eeeeee;
  border: none;
  border-radius: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.userOption div {
  width: 100%;
  padding: 0.75em 1.5em;
  color: #31363f;
  font-weight: bold;
}

@media (max-width: 480px) {
  h1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .navigationBar {
    font-size: 12px;
  }
  .searchBar .searchInput {
    display: none;
  }
  .searchBar .searchIcon {
    padding: 0.75em;
  }
}
@media (max-width: 1024px) {
  .menuSelection {
    display: flex;
  }
  .menu {
    flex-direction: column;
    position: absolute;
    padding: 0.5em;
    background-color: #eeeeee;
    border: none;
    border-radius: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .menu .menuItems {
    width: 100%;
    color: #31363f;
  }
  .menu .menuItems.selected {
    border-radius: 0.5em;
  }
}
@media (min-width: 1024px) {
  .menu {
    display: flex;
  }
}