@import "./../../../style/colors";

.navigationBar {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: $primary-dark;
}

//logo
.logo {
  display: flex;
  align-items: center;
  img {
    margin: 0 0.5em 0 1em;
  }
  h1 {
    color: $primary-light;
    font-size: 1.5em;
  }
}

//menu
.menuSelection {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1.5em;
  color: $secondary-light;
  font-weight: bold;
  border: 2px solid $primary-light;
  border-radius: 2em;
}
.arrow {
  margin: 0 0 0 0.25em;
}
.menu {
  display: none;
  align-items: center;
  list-style: none;
  font-weight: bold;
  border: 2px solid $primary-light;
  border-radius: 2em;
  .menuItems {
    padding: 0.75em 1.5em;
    color: $secondary-light;
    font-size: 1em;
    transition: 0.3s;
    cursor: pointer;
    &.selected {
      color: $secondary-dark;
      background-color: $primary-light;
      border-radius: 2em;
    }
  }
}

.visible {
  display: flex;
}

//search bar
.searchBar {
  display: flex;
  align-items: center;
  color: $secondary-dark;
  background-color: $secondary-light;
  border-radius: 2em;
  .searchInput {
    padding: 0.75em 0 0.75em 1.25em;
    font-size: 1em;
    background-color: transparent;
  }
  .searchIcon {
    padding: 0.75em 1.25em 0.75em 0.75em;
  }
}
.searchList {
  display: none;
}

//user
.user {
  padding: 0.75em;
  margin: 0 1em;
  background-color: $primary-light;
  border-radius: 2em;
}
.userOption {
  position: absolute;
  padding: 0.5em;
  background-color: $secondary-light;
  border: none;
  border-radius: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  div {
    width: 100%;
    padding: 0.75em 1.5em;
    color: $secondary-dark;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  h1 {
    display: none;
  }
}

@media (max-width: 768px) {
  .navigationBar {
    font-size: 12px;
  }
  //search bar
  .searchBar {
    .searchInput {
      display: none;
    }
    .searchIcon {
      padding: 0.75em;
    }
  }
}

@media (max-width: 1024px) {
  //menu
  .menuSelection {
    display: flex;
  }
  .menu {
    flex-direction: column;
    position: absolute;
    padding: 0.5em;
    background-color: $secondary-light;
    border: none;
    border-radius: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    .menuItems {
      width: 100%;
      color: $secondary-dark;
      &.selected {
        border-radius: 0.5em;
      }
    }
  }
}
@media (min-width: 1024px) {
  //menu
  .menu {
    display: flex;
  }
}
